.about-custom-row {
  padding: 150px 5vw 75px 5vw;
}

.right-col {
}

.left-col {
  margin-bottom: 3rem;
}

.left-col > hr {
  display: block;
  width: 140px;
  height: 1px;
  margin: 20px 0;
  background: #555;
}

.my-img {
  filter: grayscale(100);
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 1);
}

.custom-bar {
  margin-bottom: 1.5rem;
}

.custom-text {
  font-size: 1.2rem;
  align-items: center;
  margin: 0;
  text-align: left;
  padding: 0 10px;
  background-color: rgba(22, 22, 22, 0.5);
  position: absolute;
  width: 14%;
}

.custom-text2 {
  font-size: 1.2rem;
  align-items: center;
  margin: 0;
  text-align: right;
  padding: 0 10px;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .about-custom-row {
    padding-left: 0;
    padding-right: 0;
  }
}
