.contact {
  padding: 10px 5vw 150px 5vw;
}

.contact-heading {
  font-size: 3rem;
  margin-bottom: 10px;
}

.contact-heading::after {
  content: " ";
  display: block;
  width: 140px;
  height: 1px;
  margin: 20px 0;
  background: #555;
}

.form-group {
  margin-bottom: 30px;
}
