.portfolio {
  padding: 100px 5vw;
}

.portfolio-heading {
  font-size: 3rem;
}

.portfolio-text {
  font-size: 1.5rem;
  font-style: italic;
  margin-left: 30px;
}

.portfolio-heading::after {
  content: " ";
  display: block;
  width: 140px;
  height: 2px;
  margin: 20px 0;
  background: #555;
}

.boxx {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: 10px;
  transition-duration: 0.5s;
  margin-bottom: 20px;
}

.boxx:hover {
  background: rgba(196, 196, 196, 0.4);
}

.img-box {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50%;
  max-height: 100%;
  transition: 0.5s;
  filter: grayscale(1);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.img-box > img {
  position: absolute;
  max-width: 100%;
  object-fit: contain;
  max-height: 100px;
}

.extra-css {
  margin-top: -25px;
}

.boxx:hover > .img-box {
  top: 10%;
  transform: translateY(0%);
  filter: grayscale(0);
}

.content {
  position: absolute;
  bottom: -10%;
  width: 100%;
  height: 50px;
  text-align: center;
  transition: 1s;
  z-index: 10;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  visibility: hidden;
}

.boxx:hover > .content {
  height: 155px;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.boxx:hover > .content > p {
  position: relative;
  font-size: 100%;
  padding: 0 5px;
  margin-bottom: 5px;
}

.content > a {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.boxx:hover > .content > a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.35s;
}

.content > .custom-btn {
  border-radius: 50px;
  font-size: 85%;
  letter-spacing: 1px;
  color: #fff;
  background: rgb(29, 29, 29);
}
