.portfolio {
  padding: 150px 80px;
}

.portfolio-heading {
  font-size: 3rem;
}

.portfolio-heading::after {
  content: " ";
  display: block;
  width: 140px;
  height: 1px;
  margin: 20px 0;
  background: #555;
}
