.custom-bar {
  margin-bottom: 1.5rem;
  height: 26px;
}

.custom-text {
  font-size: 1rem;
  align-items: center;
  margin: 0;
  text-align: center;
  padding: 0 0px;
  background: #484e53;
  position: absolute;
  width: 20%;
  z-index: 4;
  opacity: 1;
}

.custom-text2 {
  font-size: 1.2rem;
  align-items: center;
  margin: 0;
  text-align: right;
  padding: 0 10px;
  margin-left: auto;
}

.anim-progress {
  animation: progress 1s ease-out 1s 1 normal none;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
  }
}
