.custom-bar {
  margin-bottom: 2rem;
  height: 26px;
}

.custom-text {
  font-size: 1rem;
  align-items: center;
  margin: 0;
  text-align: center;
  padding: 0 0px;
  background: #484e53;
  position: absolute;
  width: 15%;
  z-index: 4;
  opacity: 1;
  color: white;
}

.custom-text2 {
  font-size: 1rem;
  align-items: center;
  margin: 0;
  text-align: right;
  padding: 0 5px;
  margin-left: auto;
}

.anim-progress {
  animation: progress 2s ease-out 0s 1 normal forwards;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
  }
}

.anim-text2 {
  animation: text2FadeIn 2s linear 0s 1 normal forwards;
}

@keyframes text2FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
