.services {
  background-color: #f7f7f7;
  padding: 50px 4.5vw 50px 4.5vw;
}

.services-box {
  margin-top: 20px;
  margin-bottom: 30px;
}

.services-box > img {
  transition: ease 0.1s;
}

/* .services-box > img:hover {
  transform: scale(1.01);
  animation: shaker 1s ease-out 0s 1 normal forwards;
} */

/* @keyframes shaker {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

.services-heading {
  font-size: 3rem;
}

.services-heading:after {
  content: " ";
  display: block;
  width: 140px;
  height: 2px;
  margin: 20px 0;
  background: #555;
}

.row {
  overflow: hidden;
}

.services-box > img {
  width: 100px;
  object-fit: contain;
  margin-bottom: 2rem;
}

.services-box > h5 {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-right: 30px;
}

.services-box > p {
  font-size: 1.2rem;
}
